# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
# Crashlytics
crashlytics-build.properties
# Rider
.idea/
*.sln.iml
# Addressables
*/ServerData/
# Packages auto-cache
**/.DS_Store