name: Unity Build (Android)
on: [push, pull_request]
jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- uses: actions/setup-dotnet@v4
- name: Cache Library
uses: actions/cache@v4
with:
path: Library
key: Library-${{ hashFiles('**/Packages/manifest.json') }}
- name: Build
uses: game-ci/unity-builder@v4
with:
targetPlatform: Android
allowDirtyBuild: true
env:
UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}